# Node Modules
/node_modules/

# Compiled Files
/lib/

# Configuration
/src/Configuration/Configuration.ts
/src/Configuration/Constants.ts
/src/Configuration/ConfigurationInformation.txt

# PFP
/images/PFP.png

# Logs
/logs/
